# IntelliJ IDEA related files
.idea/
*.iml
*.iws
*.ipr

# Ignore specific IntelliJ IDEA VCS settings
.idea/vcs.xml

# Local history files
.history/

# Compiled Java classes
bin/
out/
target/

# Packaging files
*.jar
*.war
*.ear

# Logs and temporary files
*.log
*.tmp
*.bak

# Project specific - adjust as needed
# If you have a 'lib' folder with external JARs that you *don't* want to track
# lib/

# Gradle specific (if you're using Gradle)
.gradle/
build/

# NetBeans specific (if you happen to have these)
nbproject/

# Ignore toml files
*.toml
