# Help: https://github.com/pashky/restclient.el
# More examples: https://github.com/pashky/restclient.el/blob/master/examples/httpbin
# C-c C-v: same as C-c C-c, but doesn't switch focus to other window
# C-c C-u: copy query under the cursor as a curl message
# C-h e (view-echo-area-messages): print request header and body

############################# Домашнее задание: Системы обмена сообщениями #############################

# Some generic vars
:BASE_URL = http://localhost:8080
:uuid := (shell-command-to-string "uuidgen | tr -d '\\n'")


# Header
:REQUEST_HEADER = <<
Content-Type: application/json

# Create message with operationId move
POST :BASE_URL/game/order
:REQUEST_HEADER

{
  "id" : ":uuid",
  "gameId": "game-1",
  "playerId": "player-1",
  "operationId": "MOVE_STRAIGHT",
  "operationArgs": {
    "initialVelocity": 2
  }
}

# Create messaget with operation id move rotate
POST :BASE_URL/game/order
:REQUEST_HEADER

{
  "id" : ":uuid",
  "gameId": "game-1",
  "playerId": "player-1",
  "operationId": "ROTATE",
  "operationArgs": {
    "radius": 10,
    "angularVelocity": 4
  }
}

# Create message with operation shoot
POST :BASE_URL/game/order
:REQUEST_HEADER

{
  "id" : ":uuid",
  "gameId": "game-1",
  "playerId": "player-1",
  "operationId": "SHOOT",
  "operationArgs": {
    "weaponId": "laser",
    "direction": "up"
  }
}

# Create message with operation burn fuel
POST :BASE_URL/game/order
:REQUEST_HEADER

{
  "id" : ":uuid",
  "gameId": "game-2",
  "playerId": "player-3",
  "operationId": "BURN_FUEL",
  "operationArgs": {
    "fuelAmount": 5
  }
}

# Create message with operation teleportation
POST :BASE_URL/game/order
:REQUEST_HEADER

{
  "id" : ":uuid",
  "gameId": "game-1",
  "playerId": "player-1",
  "operationId": "TELEPORT",
  "operationArgs": {
    "x": 120,
    "y": 45
  }
}


############################# Домашнее задание#10 : Создать микросервис Авторизация пользователя #############################
:AUTHSERVER_BASE_URL = http://localhost:8081
:player-1-body := (json-encode `(("username" . "player-1") ("passwordHash" . ,(secure-hash 'sha256 "player-1-pass"))))
:player-2-body := (json-encode `(("username" . "player-2") ("passwordHash" . ,(secure-hash 'sha256 "player-2-pass"))))
:player-3-body := (json-encode `(("username" . "player-3") ("passwordHash" . ,(secure-hash 'sha256 "player-3-pass"))))
:player-unknown-body := (json-encode `(("username" . "player-unknown") ("passwordHash" . ,(secure-hash 'sha256 "player-unknown-pass"))))

##################### Send request to AuthServer #####################
# Say hello to AuthServer
GET :AUTHSERVER_BASE_URL/hello


# Login by incorrect credential (missing password)
POST :AUTHSERVER_BASE_URL/auth/login
:REQUEST_HEADER

{
  "username" : "player-1",
  "passwordHash" : ""	
}

# Login by incorrect credential (missing username)
POST :AUTHSERVER_BASE_URL/auth/login
:REQUEST_HEADER

{
  "passwordHash" : "some_pass"	
}

# Login by unknown player
POST :AUTHSERVER_BASE_URL/auth/login
:REQUEST_HEADER

:player-unknown-body

# Login by known player but incorrect password 
POST :AUTHSERVER_BASE_URL/auth/login
:REQUEST_HEADER

:player-unknown-body


# Login by correct credential
POST :AUTHSERVER_BASE_URL/auth/login
:REQUEST_HEADER

:player-1-body


##################### Send request to GameServer #####################
:JWT_EXPIRED = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJwbGF5ZXItMSIsImV4cCI6MTc3NDk5OTUzM30.jzbQd3s6VUdU1Y8W77fM-nCfQySxLt7hnlEOBdxGSv8
:JWT = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJwbGF5ZXItMSIsImV4cCI6MTc3NTA3ODc0N30.T6OUu1-Eii1QqmLwqtP28t08r9xvc_4dcYH1IvlF9Y8
:REQUEST_HEADER_GAME_SERVER = <<
Content-Type: application/json
Authorization: Bearer :JWT

# Create message with operationId move
POST :BASE_URL/game/order
:REQUEST_HEADER_GAME_SERVER

{
  "id" : ":uuid",
  "gameId": "game-1",
  "playerId": "player-1",
  "operationId": "MOVE_STRAIGHT",
  "operationArgs": {
    "initialVelocity": 2
  }
}

# Create message with operationId teleport - not allowed to execute
POST :BASE_URL/game/order
:REQUEST_HEADER_GAME_SERVER

{
  "id" : ":uuid",
  "gameId": "game-1",
  "playerId": "player-1",
  "operationId": "TELEPORT",
  "operationArgs": {
    "initialVelocity": 2
  }
}


# Say hello to GameServer
GET :BASE_URL/hello
